#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 150 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  150   50       0     0     0>
            , <&key_physical_attrs 100 100  250   50       0     0     0>
            , <&key_physical_attrs 100 100  350   50       0     0     0>
            , <&key_physical_attrs 100 100  450   25       0     0     0>
            , <&key_physical_attrs 100 100  550    0       0     0     0>
            , <&key_physical_attrs 100 100  650   20       0     0     0>
            , <&key_physical_attrs 100 100  750   50       0     0     0>
            , <&key_physical_attrs 100 100 1125   50       0     0     0>
            , <&key_physical_attrs 100 100 1225   25       0     0     0>
            , <&key_physical_attrs 100 100 1325    0       0     0     0>
            , <&key_physical_attrs 100 100 1425   25       0     0     0>
            , <&key_physical_attrs 100 100 1525   50       0     0     0>
            , <&key_physical_attrs 100 100 1625   50       0     0     0>
            , <&key_physical_attrs 100 100 1725   50       0     0     0>
            , <&key_physical_attrs 150 100 1825   50       0     0     0>
            , <&key_physical_attrs 150 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  150  150       0     0     0>
            , <&key_physical_attrs 100 100  250  150       0     0     0>
            , <&key_physical_attrs 100 100  350  150       0     0     0>
            , <&key_physical_attrs 100 100  450  125       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  120       0     0     0>
            , <&key_physical_attrs 100 100  750  150       0     0     0>
            , <&key_physical_attrs 100 100 1125  150       0     0     0>
            , <&key_physical_attrs 100 100 1225  125       0     0     0>
            , <&key_physical_attrs 100 100 1325  100       0     0     0>
            , <&key_physical_attrs 100 100 1425  125       0     0     0>
            , <&key_physical_attrs 100 100 1525  150       0     0     0>
            , <&key_physical_attrs 100 100 1625  150       0     0     0>
            , <&key_physical_attrs 100 100 1725  150       0     0     0>
            , <&key_physical_attrs 150 100 1825  150       0     0     0>
            , <&key_physical_attrs 150 100  100  250       0     0     0>
            , <&key_physical_attrs 100 100  250  250       0     0     0>
            , <&key_physical_attrs 100 100  350  250       0     0     0>
            , <&key_physical_attrs 100 100  450  225       0     0     0>
            , <&key_physical_attrs 100 100  550  200       0     0     0>
            , <&key_physical_attrs 100 100  650  220       0     0     0>
            , <&key_physical_attrs 100 100  750  250       0     0     0>
            , <&key_physical_attrs 100 100 1125  250       0     0     0>
            , <&key_physical_attrs 100 100 1225  225       0     0     0>
            , <&key_physical_attrs 100 100 1325  200       0     0     0>
            , <&key_physical_attrs 100 100 1425  225       0     0     0>
            , <&key_physical_attrs 100 100 1525  250       0     0     0>
            , <&key_physical_attrs 100 100 1625  250       0     0     0>
            , <&key_physical_attrs 150 100 1725  250       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 150 100  200  350       0     0     0>
            , <&key_physical_attrs 100 100  350  350       0     0     0>
            , <&key_physical_attrs 100 100  450  325       0     0     0>
            , <&key_physical_attrs 100 100  550  300       0     0     0>
            , <&key_physical_attrs 100 100  650  320       0     0     0>
            , <&key_physical_attrs 100 100  750  350       0     0     0>
            , <&key_physical_attrs 100 100  750  350       0     0     0>
            , <&key_physical_attrs 100 100 1125  350       0     0     0>
            , <&key_physical_attrs 100 100 1225  325       0     0     0>
            , <&key_physical_attrs 100 100 1325  300       0     0     0>
            , <&key_physical_attrs 100 100 1425  325       0     0     0>
            , <&key_physical_attrs 100 100 1525  350       0     0     0>
            , <&key_physical_attrs 150 100 1625  350       0     0     0>
            , <&key_physical_attrs 100 100 1775  350       0     0     0>
            , <&key_physical_attrs 100 100    0  450       0     0     0>
            , <&key_physical_attrs 100 100  100  450       0     0     0>
            , <&key_physical_attrs 100 100  200  450       0     0     0>
            , <&key_physical_attrs 100 100  580  460       0     0     0>
            , <&key_physical_attrs 100 100  710  422    1500   550   450>
            , <&key_physical_attrs 100 150  825  300    3000   550   450>
            , <&key_physical_attrs 100 150 1025  420 (-3000)  1200   450>
            , <&key_physical_attrs 100 100 1145  650 (-1500)   550   450>
            , <&key_physical_attrs 100 100 1310  460       0     0     0>
            , <&key_physical_attrs 100 100 1675  450       0     0     0>
            , <&key_physical_attrs 100 100 1775  450       0     0     0>
            , <&key_physical_attrs 100 100 1875  450       0     0     0>
            ;
    };
};
