# No whitespace after the comma or in your part name!
config SHIELD_BUTTERFREE_LEFT
    def_bool $(shields_list_contains,butterfree_left)

# No whitespace after the comma or in your part name!
config SHIELD_BUTTERFREE_RIGHT
    def_bool $(shields_list_contains,butterfree_right)